<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490688155530-433mh63oi2qottmcvdhbqng56n7tt5sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490688155530-433mh63oi2qottmcvdhbqng56n7tt5sk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490688155530-6l7618n7m2qu9nj0tp4iblgctu90h7eg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbTyIeRqwx55BhqV-pQN9wn8SM1xf4zMY</string>
	<key>GCM_SENDER_ID</key>
	<string>490688155530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tracetext.app</string>
	<key>PROJECT_ID</key>
	<string>tracetexapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tracetexapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490688155530:ios:f3f443fa50e3aae0490273</string>
</dict>
</plist>